[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
pylint-django = "*"
pylint = "*"
newsapi-python = "*"
pypdf2 = "*"
argparse = "*"
wget = "*"
bs4 = "*"
requests = "*"
json = "*"
nltk = "*"

[requires]
python_version = "3.7"
